:root {
    --dagr: #121212;
    --gr: #2F2F2F;
    --wh: #F8F8F0;
    --dabl: #00416A;
    --bl: #4682B4;
}

html {
    display: flex;
    justify-content: center;
    background-color: var(--dagr);
}

html, body {
    height: 100%;
    margin: 5px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
}

header {
    background-color: var(--wh);
    color: var(--dagr);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

header h1 {
    color: var(--dagr);
    font-size: 24px;
    margin: 15px;
}

header nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--gr);
    margin: 0;
}

header nav a {
    color: var(--wh);
    text-decoration: none;
    width: 100%;
    padding: 5px;
    transition: background-color 0.25s ease, color 0.25s ease, font-weight 0.25s ease;
}

header nav a:hover {
    color: var(--dagr);
    background-color: var(--wh);
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

main p {
    margin: 10px;
}

footer {
    background-color: var(--wh);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100%;
}

footer p {
    padding: 0;
    margin: 0;
}

.name {
    color: var(--dabl) 
}

.card {
    background-color: var(--gr);
    color: var(--wh);
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.card h2 {
    color: var(--dagr);
    background-color: var(--wh);
    text-align: center;
    font-size: 22px;
    width: 100%;
    margin: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transition: background-color 0.25s ease;
}

.card p, .card li {
    font-size: 18px;
}

.card img {
    width: 150px;
    height: auto;
    margin: 10px;
}

.first-card {
    grid-column: span 3;
}


.first-card:hover h2 {
    background-color: var(--bl);
}

.first-card img {
    border: 2px solid black;
}

.about {
    display: flex;
}

.second-card {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.second-card:hover h2 {
    background-color: var(--bl);
}

.second-card a {
    color: var(--wh);
    text-decoration: none;
    width: 100%;
    transition: color 0.25s ease;
}

.second-card a:hover {
    color: var(--bl);
}

.dew {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.lastmodified {
    color: var(--dabl) ;
    font-size: 12px;
    font-weight: bold;
}